<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yang.dao.MusicDao" >
  <!-- resultMap -->
  <resultMap id="BaseResultMap" type="com.yang.entity.MusicBean" >
    <id column="musicId" property="musicId" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="source" property="source" jdbcType="VARCHAR" />
    <result column="size" property="size" jdbcType="VARCHAR" />
    <result column="addDate" property="addDate" jdbcType="VARCHAR" />
    <result column="recordCount" property="recordCount" jdbcType="INTEGER" />
  </resultMap>
  
  <sql id="Base_Column_List" >
  	musicId,
  	name,
  	source,
  	size,
  	DATE_FORMAT(addDate,'%Y-%m-%d %H:%i') addDate, 
  	(select count(*) from t_music) recordCount
  </sql>
  
  <!-- 获取音乐列表  -->
  <select id="getMusicList" resultMap="BaseResultMap" parameterType="java.lang.Integer">
  	select 
    <include refid="Base_Column_List" />
    from t_music 
    order by addDate desc 
    limit #{startRecordNum}, 5
  </select>
  
  <!-- 保存音乐（新增） -->
  <insert id="addMusic" parameterType="com.yang.entity.MusicBean" >
    insert into t_music
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="musicId != null" > musicId, </if>
      <if test="name != null" > name,</if>
      <if test="source != null" > source,</if>
      <if test="size != null" > size,</if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="musicId != null" > #{musicId,jdbcType=VARCHAR}, </if>
      <if test="name != null" > #{name,jdbcType=VARCHAR}, </if>
      <if test="source != null" > #{source,jdbcType=VARCHAR}, </if>
      <if test="size != null" > #{size,jdbcType=VARCHAR}, </if>
    </trim>
  </insert>
  
  <!-- 根据id删除音乐-->
  <delete id="deleteMusic" parameterType="java.lang.String" >
    delete from t_music where musicId = #{musicId,jdbcType=VARCHAR}
  </delete>
  
  <!-- 根据id串删除音乐 -->
  <delete id="deleteMusicBatch" parameterType="java.lang.String" >
    delete from t_music where musicId in (${musicIds})
  </delete>
  
</mapper>